:root {
  --color: white;
  --background: #eaeaea;
  --text: black;
}

body {
  background-color: var(--color);
  color: var(--text);
  transition: background-color 200ms, color 200ms;
}

.themed {
  transition: border-radius 1s;
  background-color: var(--background);
}

a,
button {
  color: var(--text);
}
